<div class="home-page-wrapper">
  <div
    class="home-page-container border-l-[0.5px] border-r-[0.5px] border-[#89e9f2] pr-[1rem] pl-[1rem]"
  >
    <app-main-title></app-main-title>
    <app-main-content></app-main-content>
    <div
      class="w-full h-[2px] border-dashed border-t-[3px] mt-3 mb-3 border-[#89e9f2]"
    ></div>
    <app-middle-zone></app-middle-zone>
    <div
      class="w-full h-[2px] border-dashed border-t-[3px] mt-3 mb-3 border-[#89e9f2]"
    ></div>
    <app-monsters-zone></app-monsters-zone>
    <div
    class="w-full h-[2px] mt-20 mb-3"
  ></div>

    <app-connection-zone></app-connection-zone>
  </div>
</div>
