<div class="main-title-wrapper">
  <h1 class="main-title">WELCOME TO Zhypher Lab_</h1>
  <div class="sub-title-container">
    <div class="sub-title-1 text-center w-768:text-[15px]">
      project for metawarden holder
    </div>
    <div
      class="mobile-subtitle-2-wrapper flex flex-col items-center gap-2 w-768:hidden"
    >
      <div class="sub-title-2 text-[0.4rem] text-center">
        no roadmap - no discord
      </div>
      <div class="text-[0.6rem]">--- only glue ---</div>
    </div>
    <div
      class="mobile-subtitle-2-wrapper flex flex-col items-center gap-2 w-768:block"
    >
      <div class="sub-title-2 text-[0.8rem] text-center">
        ----- no roadmap - no discord - only glue -----
      </div>
    </div>
  </div>
</div>
