<div class="main-title-wrapper">
  <div class="main-title">
    <span class="w-768:text-[1.2rem]">WELCOME TO Zhypher Lab_</span>
  </div>
  <div class="sub-title-container">
    <div class="sub-title-1 text-center w-768:text-[15px] text-[0.5rem]">
      project for metawarden holder
    </div>
    <div
      class="mobile-subtitle-2-wrapper flex flex-col items-center gap-3 w-768:hidden"
    >
      <div class="sub-title-2 text-[0.5rem] text-center">
        no roadmap - no discord
      </div>
      <div class="text-[0.6rem]">--- only glue ---</div>
    </div>
    <div
      class="mobile-subtitle-2-wrapper flex-col items-center gap-3 w-768:flex hidden"
    >
      <div class="sub-title-2 text-[0.75rem] text-center">
        ----- no roadmap - no discord - only glue -----
      </div>
    </div>
  </div>
</div>
