<div class="main-content-wrapper flex flex-col gap-1 mt-3">
  <div
    class="chapter-container p-2 flex flex-col w-768:flex-row gap-2 w-768:pt-[1rem] w-768:pb-[1rem] w-768:pl-[1rem] w-768:pr-[1rem]"
  >

  
    <div class="egg-soon relative hover:cursor-pointer" >
          <img class=" chapter-container relative border-double border-[#89e9f2] border-[0.3rem] " src="assets/egg.gif" />
          <div class="w-full h-[10px] mt-1 mb-1"></div>
      <div class="chapter-container w-768:h-[5rem] relative border border-[#89e9f2] border-[0.3rem] w-768:flex-row gap-2 w-768:pt-[1rem] w-768:pb-[1rem] w-768:pl-[1rem] w-768:pr-[1rem]">
          Soon <span class="animate-ping">. . .</span>
      </div>
    </div>

    <div class="work-in-process relative hover:cursor-pointer w-768:w-full" >
      <div class="chapter-container border border-[#89e9f2] border-[0.3rem] w-768:h-full p-2 flex flex-col w-768:flex-row gap-2 w-768:pt-[1rem] w-768:pb-[1rem] w-768:pl-[1rem] w-768:pr-[1rem]">
          <div >
                    Work in process <span class="animate-ping">. . .</span>
          </div>
      </div>
    </div>
    </div>
  </div>

