<div class="main-content-wrapper flex flex-col gap-1 mt-3">
  <div class="click-to-play-btn text-[10px] w-768:text-[15px]">
    click to play<span class="animate-ping">_</span>
  </div>
  <div
    class="chapter-container border-double border-cyan-400 border-[3px] p-2 flex flex-col w-768:flex-row gap-2"
  >
    <div class="chapter-1 relative">
      <div
        class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
      >
        Chapter <br />
        1
      </div>
      <div
        class="text-center absolute bg-black opacity-60 w-full h-full hover:bg-transparent z-1"
      ></div>
      <img class="z-0" src="assets/saturn.jpg" />
    </div>
    <div class="chapter-2 relative">
      <div
        class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
      >
        Chapter <br />
        2
        <div class="text-[10px] bg-transparent">coming soon...</div>
      </div>
      <div
        class="text-center absolute bg-black opacity-60 w-full h-full hover:bg-transparent z-1"
      ></div>
      <img src="assets/saturn.jpg" />
    </div>

    <div class="chapter-3 relative">
      <div
        class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
      >
        Chapter <br />
        3
        <div class="text-[10px] bg-transparent">coming soon...</div>
      </div>
      <div
        class="text-center absolute bg-black opacity-60 w-full h-full hover:bg-transparent z-1"
      ></div>
      <img src="assets/saturn.jpg" />
    </div>
  </div>
</div>
