.card {
        margin: relative;
        hover:cursor-pointer;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      .card__content {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 1.5s;
        transform-style: preserve-3d;
      }

      .card:hover .card__content {
        transform: rotateY(180deg);
      }

      .card__front,
      .card__back {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        
        color: white;
      }

      .card__back {
        transform: rotateY(180deg);
      }