<div class="main-content-wrapper flex flex-col gap-1 mt-3">
          <div
            class="chapter-container border border-[#89e9f2] border-[0.3rem] p-2 flex flex-col w-768:flex-row gap-2 w-768:pt-[1rem] w-768:pb-[1rem] w-768:pl-[5rem] w-768:pr-[5rem]"
          >
          

          <div class="monster-1 card relative hover:cursor-pointer " >
                    <div class="card__content relative hover:cursor-pointer">
                      <div class="card__front relative hover:cursor-pointer">
                              <img src="assets/egg.gif" class="text-center absolute bg-black opacity-70 hover:bg-transparent ">
                      </div>
                      <div class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
              ><span class="animate-ping">CRACK</span>
              </div>
                      <div class="card__back">
                              <img src="assets/R1.jpg"  class="relative hover:cursor-pointer w-768:w-full">
                      </div>
                    </div>
                  </div>

                  <div class="monster-2 card relative hover:cursor-pointer " >
                    <div class="card__content relative hover:cursor-pointer">
                      <div class="card__front relative hover:cursor-pointer">
                              <img src="assets/egg.gif" class="text-center absolute bg-black opacity-70 hover:bg-transparent ">
                      </div>
                      <div class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
              ><span class="animate-ping">CRACK</span>
              </div>
                      <div class="card__back">
                              <img src="assets/R2.jpg"  class="relative hover:cursor-pointer w-768:w-full">
                      </div>
                    </div>
                  </div>

                  <div class="monster-3 card relative hover:cursor-pointer " >
                    <div class="card__content relative hover:cursor-pointer">
                      <div class="card__front relative hover:cursor-pointer">
                              <img src="assets/egg.gif" class="text-center absolute bg-black opacity-70 hover:bg-transparent ">
                      </div>
                      <div class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
              ><span class="animate-ping">CRACK</span>
              </div>
                      <div class="card__back">
                              <img src="assets/R3.jpg"  class="relative hover:cursor-pointer w-768:w-full">
                      </div>
                    </div>
                  </div>

                  <div class="monster-4 card relative hover:cursor-pointer " >
                    <div class="card__content relative hover:cursor-pointer">
                      <div class="card__front relative hover:cursor-pointer">
                              <img src="assets/egg.gif" class="text-center absolute bg-black opacity-70 hover:bg-transparent ">
                      </div>
                      <div class="z-10 absolute bg-transparent top-0 left-0 bottom-0 right-0 my-[50%] text-center text-xl"
              ><span class="animate-ping">CRACK</span>
              </div>
                      <div class="card__back">
                              <img src="assets/R4.jpg"  class="relative hover:cursor-pointer w-768:w-full">
                      </div>
                    </div>
                  </div>

          </div>
          <div>
                    <div class="w-full h-[2px] mt-2 mb-3"></div>
                    monsters from Zhypher Lab <span class="animate-ping">_</span>
          </div>
        </div>
        